{% extends "base.html" %}

{% block title %} Add New Client {% endblock %}

{% block content %}

<section class="page-header">
    <h1>Clients informations</h1>
    <p>Clients Informations</p>
</section>

{% if clients %}
<table class="data-table">
   <thead>
       
    <tr>
       <th>Name</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Country</th>
                <th>Move type</th> 
                <th>edit/delete</th>
    </tr>
   </thead> 

   <tbody>
     {% for client in clients %}
     <tr>
        <td>{{ client.full_name }}</td>
        <td>{{ client.email }}</td>
        <td>{{ client.phone or "-" }}</td>
        <td>{{ client.country_of_origin }}</td>
        <td>{{ client.move_type.name }}</td>
        <td>
  <form method="get"       
        action="{{ url_for('edit_client', client_id=client.id) }}"
        style="display:inline">
      <button type="submit">Edit</button>
   </form>
  <form method="post"
        action="{{ url_for('delete_client', client_id=client.id) }}"
        style="display:inline"
        onsubmit="return confirm('Delete this client?');">
    <button type="submit">Delete</button>
  </form>
</td>
     </tr>
     {% endfor %}
   </tbody>
</table>

{% else %}
<p>No clients registered</p>
{% endif %}


{% endblock %}

  